<h3 class="section-title">About Me</h3>
<p>
    I'm Sushil Awale. My research interests lie in Human speech processing and human language understanding. 
    Currently, I'm working on Automatic Speech Recognition for Nepali at Integrated ICT. 
<p>
    <br/>
</p>
    I'm also doing my undergraduate in Computer Science (currently in my final semester). For my final year
    project, I worked on Language Modeling for Nepali Language. <a href="pdf/sushilawale_lm_np.pdf" target="_blank">[<u>Read Here</u>]</a>
</p>
