<h3 class="section-title">About Me</h3>
<p>
    I am a Machine Learning Researcher focusing on Nepali Language. I'm currently working as a Research 
    Intern at NAAMII, Nepal where we are working on Morphological Analysis of Nepali Language.
</p>
<br/>
<p>
    Previously, I working as a Research Intern at Integrated ICT, Nepal where I worked on
    Automatic Nepali Speech Processing and Analysis of Preprocessing Tasks for Nepali.
</p>
<br/>
<p>
    I recently completed my undergraduate in Computer Science and you can find my undergradaute
    thesis project on Language Modeling for Nepali Language <a href="pdf/sushilawale_lm_np.pdf" target="_blank"><u>here</u></a>
</p>
    <br/>
    <br/>
