<h3 class="section-title">About Me</h3>
</p>
    I'm recently completed my undergraduate in Computer Science. For my final year
    project, I worked on Language Modeling for Nepali Language. <a href="pdf/sushilawale_lm_np.pdf" target="_blank">[<u>Read Here</u>]</a>
</p>
    <br/>
<p>
    I'm working as an Natural Language Processing Research Intern at Integrated ICT, Nepal where I worked on
    Automatic Nepali Speech Processing and Analysis of Preprocessing Tasks for Nepali.
</p>
    <br/>
    <br/>
