<header>
    <div class="container">
        <div class="intro">
            <p class="intro__pre">Hello</p>
            <p class="intro__main">
                I'm <span>{{ site.name }}</span>. 
            </p>
            <p class="intro__post">{{ site.location }}</p>
            <p> {{ site.email }} </p>
        </div>

        <div class="social">
            <a href="https://docs.google.com/document/d/1MczWBH3ODpK3wb9wlmIQux8iLwM1NFb5qS6RC5Uv8HY/" target="_blank">CV</a>
            <a href="http://github.com/{{ site.github}}" target="_blank">GitHub</a>
            <a href="{{ site.blog }}" target="_blank">Blog</a>
            <a href="http://linkedin.com/in/{{ site.linkedin}}" target="_blank">LinkedIn</a>
            <a href="http://twitter.com/{{ site.twitter}}" target="_blank">Twitter</a>
            <a href="/books.html" target="_blank">Bookshelf</a>
        </div>

    </div>
</header>
