<h3 class="section-title">Experience</h3>
<dl class="experience">
    {% for job in site.data.jobs %}
        <dt>
            <p class="title">{{ job.title }}</p>
            <p class="company">{{ job.company }}</p>
            <p class="period">{{ job.period }}</p>
            {% if job.link %}
                [<a class="link" href="{{ job.link }}" target="_blank">
                    Link
                </a>]
            {% endif %}
        </dt><!--
        --><dd>
            <ul style="list-style-type:disc">
                {% for item in job.description %}
                    <li> {{ item }} </li>
                {% endfor %}
            </ul>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Projects</h3>
<dl class="project">
    {% for project in site.data.projects %}
        <dt>
            <p class="title">{{ project.title }}</p>
            <p class="period">{{ project.category }}</p>
            <p class="period">{{ project.period }}</p>
            {% if project.code %}
                [<a class="link" href="{{ project.code }}" target="_blank">
                    Code
                </a>]
            {% endif %}
            {% if project.report %}
                | [<a class="link" href="{{ project.report }}" target="_blank">
                    Report
                </a>]
            {% endif %}
        </dt><!--
        --><dd>
            <p>{{ project.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Education</h3>
<dl class="education">
    {% for qualification in site.data.education %}
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        <br>
    {% endfor %}
</dl>

<h3 class="section-title">Certifications</h3>
<dl class="certificate">
    {% for certification in site.data.certifications %}
            <p class="title">{{ certification.course }}</p>
            <p class="company">{{ certification.organization }} - {{ certification.period }}</p>
            {% if certification.certificate %}
                <a class="link" href="{{ certification.certificate }}" target="_blank">
                    Certificate
                </a>
            {% endif %}
        <br><br>
    {% endfor %}
</dl>
